
<h1>¿Ya llegamos?</h1>
<h3>No. El 61,2% ha recibido una dosis de vacuna. El 49,3% recibió dos dosis.</h3>
<br> Last updated: 16 Jul 2021
<br>Data sources: https://elpais.com/sociedad/2021-03-01/asi-evoluciona-la-vacunacion-contra-la-covid-en-espana-y-en-el-mundo.html